#logoImg{
    position: relative;
    bottom: 65px;
    display: block;
    transform: scale(0.35);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searchBar{
    position: relative;
    bottom: 225px;
    display: flex;
    justify-content: center;
}

#searchBarInput{
    height: 40px;
    width: 580px;
    border-radius: 40px 40px;
    border-width: 0.01px;
    
}

#buttonContainer{
    position: relative;
    display: flex;
    width: 580px;
    height: auto;
    justify-content: center;
    top: 30px;
    
}

#searchButton{
    margin-right: 5px;
    height: 30px;
}

#luckyButton{
    margin-left: 5px;
    height: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#leftSideLinks{
    float: left;
    padding: 20px;
}

#rightSideLinks{
    float: right;
    padding: 20px;
}

footer{
    /*
    display: flex;
    flex-direction: column;
    */
    background-color: #F2F2F2;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#centerContent{
    position: relative;
    bottom: 60px;
}

#topFooter{
    border: 1px solid #DADCE0; /* the real colour is #DADCE0*/
}

#botFooter{
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
    
   
}

#leftFooterLinks{
    /*
    display: flex;
    justify-content: flex-start;
    align-items: center;
    */
    float: left;
}

#midFooterLinks{
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    display: flex;
    justify-content: center;
    position: relative;
    right: 145px;
    
}

#rightFooterLinks{
    /*
    display: flex;
    justify-content: flex-end;
    align-items: center;
    */
    float: right;
}



html,body {
    margin:0;
    padding:0;
}

a{
    color: grey;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}