.headerColourText{
    color: #323232 !important;
}
.footerColourText{
    color: #767A7F !important;
}

signButtonText{
    font-size: 300px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 999 !important;
    position: static;
}

nav{
    z-index: 111 !important;
    position: static;
}

#leftSideLinks{
    float: left;
    padding: 20px;
    position: relative;
    left: 10px;
}

#rightSideLinks{
    float: right;
    padding: 20px;
    position: relative;
    right: 10px;
    top: -5px;
}

#htr3{
    position: relative;
    top: 4px;
}

#signButton{
    border: 0;
    background-color: #4485F4;
    color: white;
    width: 65px;
    height: 30px;
    font-weight: bold;
}

#shareImg{
    position: absolute;
    top: 40.5%;
    left: 60.5%;
}

#logoImg{
    position: relative;
    bottom: 65px;
    display: block;
    transform: scale(0.34);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searchBar{
    position: relative;
    bottom: 225px;
    display: flex;
    justify-content: center;
}

#searchBarInput{
    height: 40px;
    width: 580px;
    border-radius: 40px 40px;
    border-width: 0.01px;
    background-image: url(mglass3.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 10px center;
    background-color: #FFFFFF;
    text-indent: 47px;
    
}

#buttonContainer{
    position: relative;
    display: flex;
    width: 580px;
    height: auto;
    justify-content: center;
    top: 30px;
    transform: scale(1.25);
    
}

#googleTextButton,#luckyTextButton{
    transform: scale(0.9);
}



#searchButton{
    margin-right: 5px;
    height: 30px;
    background-color: #F8F9FA;
    border: 0;
}

#luckyButton{
    margin-left: 5px;
    height: 30px;
    background-color: #F8F9FA;
    border: 0;
    
}



footer{
    /*
    display: flex;
    flex-direction: column;
    */
    background-color: #F2F2F2;
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 9vh;
}

#centerContent{
    position: relative;
    bottom: 60px;
    z-index: 1;
}

#topFooter{
    border: 1px solid #DADCE0; /* the real colour is #DADCE0*/
    height: 50%;
    display: flex;
    align-items: center;
}

#botFooter{
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}


/*
#fbl1,#fbl2,#fbl3,#fbr1,#fbr2,#fbr3,#fbm1{
    margin: 0px 15px;
    position: relative;
    top: 13px;
}
*/
#fbl1,#fbl2,#fbl3{
    margin: 0px 15px;
    position: relative;
    top: 13px;
    left: 17px;
    font-size: inherit;
}
#fbr1,#fbr2,#fbr3{
    margin: 0px 15px;
    position: relative;
    top: 13px;
    right: 17px;
    font-size: inherit;
}
#fbm1{
    margin: 0px 15px;
    position: relative;
    top: 9px;
    font-size: inherit;
    display: flex;
    justify-content: center;
    left: -11px;
    text-transform: none;
}

#leafImage{
    transform: scale(0.6);
    position: relative;
    top: 8px;
    left: 1px;
}


#ft1{
    position: relative;
    left: 30px;
    font-size: 15px;
}



#htl1{
    margin-right: 12px;
}



#htr1,#htr2,#htr3,#htr4{
    margin-right: 12px;
}

#leftFooterLinks{
    /*
    display: flex;
    justify-content: flex-start;
    align-items: center;
    */
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#midFooterLinks{
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: flex;
    justify-content: center;
    */
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}




#rightFooterLinks{
    /*
    display: flex;
    justify-content: flex-end;
    align-items: center;
    */
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



html,body {
    margin:0;
    padding:0;
    font-family: arial,sans-serif;
}

a{
    color: grey;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}